{% extends 'base.html.twig' %}

{% block body %}
    <h1>Intervenants list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Material</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for intervenant in intervenants %}
            <tr>
                <td><a href="{{ path('intervenant_show', { 'id': intervenant.id }) }}">{{ intervenant.id }}</a></td>
                <td>{{ intervenant.name }}</td>
                <td>{{ intervenant.material }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('intervenant_show', { 'id': intervenant.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('intervenant_edit', { 'id': intervenant.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('intervenant_new') }}">Create a new intervenant</a>
        </li>
    </ul>
{% endblock %}
